<div class="shop-container">
 <div class="items-menu">

    <ul class="shop-menu">
      <li class="shop-menu_title">THE SHOP</li>
      {{#each model as |shopItem|}}
        <li>
          <img class="ironsword" src="{{shopItem.img}}" />
          <h4>{{shopItem.name}}</h4> <h6>{{shopItem.damage}} DMG</h6> <h6>{{shopItem.cost}} G</h6>
          {{mdl-button action=(route-action 'buyItem' shopItem) isRaised=true text='Purchase'}}
        </li>
      {{/each}}
    </ul>

  </div>
  {{#link-to 'game.index' class="shopmap-container shopmap-container-item" }}
  <img class="shopmap-img" src="img/map.png" alt="" />
  <h3>Back To Map</h3>
{{/link-to}}
<div class="character-ani-attack"></div>

</div>
