<div class="battle-container">
  <div class="battle-container__enemy battle-container__enemy--{{enemy.className}}">
    <div class="enemy-sprite enemy-sprite--{{enemy.className}}">
      {{#if enemyTakeDamage}}
        <div class="damage-indicator">-{{enemyTakeDamage}}HP</div>
      {{/if}}
    </div>
  </div>

  <div class="battle-container__hero battle-container__hero--{{enemy.className}}">
    <button class="attack-but" disabled={{not isPlayerTurn}} onclick={{action "attack"}}>ATTACK</button>

    <div class="battle-inventory">
      {{#each currentUser.user.inventory as |item|}}
        <button class="inventory-item" onclick= {{action "select" item}}>{{item.name}}</button>
      {{/each}}
    </div>

    <p class="curr-weap cur-weap--{{enemy.className}}">Current Weapon:
      <img src="{{currentWeapon.img}}" alt="">
    </p>

    <div class="character">
      {{#if playerTakeDamage}}
        <div class="damage-indicator">-{{playerTakeDamage}}HP</div>
      {{/if}}
    </div>

    <p>
      {{currentUser.user.currentHealthPoints}}/{{currentUser.user.maxHealthPoints}}
    </p>
  </div>

</div>
