<div class="header">

  <h5>{{model.cash}}</h5>
  <h5>Lvl {{model.level}}</h5>
  <h6> experience {{model.experience}}/{{model.nextLevelXp}}</h6>
  <h6>{{model.name}}</h6>
  <h6>{{model.characterClass}}</h6>

</div>

{{outlet}}
