<div class="header">

  <h5 class="header-stats">{{model.cash}} G</h5>
  <h5 class="header-stats">Lvl {{model.level}}</h5>
  <h6 class="header-stats"> Exp to Next Level: {{model.experience}}/{{model.nextLevelXp}}</h6>
  <h6 class="header-stats">Hero Name: {{model.name}}</h6>
  <h6 class="header-stats">Class: {{model.characterClass}}</h6>


</div>

{{outlet}}
